:root {
  --offwhite: #e4e3e8;
  --tan: #d6d1cd;
  --offdark: #040d38;
  /* --offdark: #6b7187; */
  --eggshell: #fafafa;
}

html {
  background-color: var(--offwhite);
}

.portrait {
  border-radius: 25%;
}

header > img {
  margin-left: 5px;
}

/* Start home page styling */
#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rebeccapurple;
  gap: 20px;
  padding: 20px;
}

#home > img {
  grid-column: 2;
  margin-left: auto;
  margin-right: auto;
}

#home > img, #home > h1 {
  display: grid;
}

#home > h1 {
  grid-column: 2;
}

#home > h1 > span {
  display: block;
}
/* End home page styling */

/* Tablet and Desktop View */
@media only screen and (min-width: 600px) {
  #home {
    grid-template-columns: 1fr 1fr;
  }

  #home > img, #home> h1 {
    grid-column: auto;
  }

  #home > img {
    margin-right: 50px;
    justify-self: end;
  }
}
/* End home page styling */