:root {
  --offwhite: #e4e3e8;
  --tan: #d6d1cd;
  --offdark: #040d38;
  /* --offdark: #6b7187; */
  --eggshell: #fafafa;
}

html {
  background-color: var(--offwhite);
}

.portrait {
  border-radius: 25%;
}

#name-logo {
  margin-left: 5px;
}

/* Start home page styling */
#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--tan);
  gap: 20px;
  padding: 20px;
}

#home > img {
  grid-column: 2;
  margin-left: auto;
  margin-right: auto;
}

#home > img, #home > h1 {
  display: grid;
}

#home > h1 {
  grid-column: 2;
}

#home > h1 > div {
  margin-left: 18px;
}
/* End home page styling */

/* Tablet and Desktop View */
@media only screen and (min-width: 600px) {
  /* Start home page styling */
  #home {
    grid-template-columns: 1fr 1fr;
  }

  #home > img, #home> h1 {
    grid-column: auto;
  }

  #home > img {
    margin-right: 50px;
  }
  /* End home page styling */
}

/* Desktop specific styling */
@media screen and (min-width: 1200px) {
  /* Start nav link styling */
  .nav-links {
    z-index: 2;
    position: fixed;
    right: 5vw;
    top: 1vh;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    display: flex;
    padding-bottom: .2vw;
    /* background-color: var(--highlight-color); */
    border-radius: 7px;
    /* box-shadow: 5px 8px rgba(var(--primary-color), 0.200); */
  }

  .nav-links a {
    color: black;
    /* color: rgb(var(--primary-color)); */
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    margin: 2vh;
    text-decoration: none;
    position: relative;
  }

  .nav-links a:hover {
    text-decoration: underline;
  }
  /* End nav link styling */
}