:root {
  --offwhite: #FFF8F0;
  --tan: #d6d1cd;
  --splash-bg: rgb(250, 212, 142);
  --offdark: #040d38;
  /* --offdark: #6b7187; */
  --eggshell: #fafafa;

  --bgcolor: var(--offwhite);

  --animation-time: .3s;
  --animation-style: ease;
  --overlay-color:  rgba(238, 237, 241, .94);

  scroll-behavior: smooth;
}

html {
  background-color: var(--bgcolor);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.portrait {
  border-radius: 25%;
}

header {
  height: 65px;
}

#name-logo {
  /* top: -50px; */
  /* left: 5px; */
  /* z-index: 5; */
  /* position: absolute; */
  margin-left: 5px;
  height: 100%;
  width: 325px;
}

/* Start home page styling */
#home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--splash-bg);
  gap: 20px;
  padding: 20px;
}

#home > img {
  grid-column: 2;
  margin-left: auto;
  margin-right: auto;
}

#home > img, #home > h1 {
  display: grid;
}

#home > h1 {
  grid-column: 2;
}

#home > h1 > div {
  margin-left: 18px;
}
/* End home page styling */

.nav-links {
  display: inline;
  text-decoration: none;
  position: relative;
  list-style-type: none;
}

/* Menu Code Start */

/* --- Start Boilerplate --- */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  height: 65px;
  width: 65px;
  opacity: 0;
}

.menu-wrap .burger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 65px;
  height: 65px;
  background-color: var(--bgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --- End Boilerplate --- */

/* --- Start Hamburger Lines --- */
/* All lines */
.menu-wrap .burger > div,
.menu-wrap .burger > div:before, 
.menu-wrap .burger > div:after {
  border-radius: 25%;
}

/* Center Line */
.menu-wrap .burger > div {
  position: relative;
  width: 60%;
  height: 4px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all var(--animation-time) var(--animation-style);
}

/* Top and bottom lines */
.menu-wrap .burger > div:before, 
.menu-wrap .burger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: inherit;
  background: inherit;
}

/* Moves down bottom line */
.menu-wrap .burger > div:after {
  top: 10px;
}
/* --- End Hamburger Lines --- */

/* --- Start Animations --- */
/* Hover animation for unchecked state */
.menu-wrap .toggler:not(:checked):hover + .burger {
  filter: brightness(90%);
  border-radius: 10px;
}
.menu-wrap .toggler:not(:checked):hover + .burger > div {
  transform: translateX(2px);
}

.menu-wrap .toggler:not(:checked):hover + .burger > div:before,
.menu-wrap .toggler:not(:checked):hover + .burger > div:after {
  transform: translateX(-2px);
}

/* Toggler animation */
.menu-wrap .toggler:checked + .burger > div {
  transform: rotate(135deg);
}

/* Turns lines into X */
.menu-wrap .toggler:checked + .burger > div:before,
.menu-wrap .toggler:checked + .burger > div:after {
  top:0;
  transform: rotate(90deg);
}

/* Rotate on hover */
.menu-wrap .toggler:checked:hover + .burger > div {
  transform: rotate(225deg);
}
/* --- End Animations --- */

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity var(--animation-time) var(--animation-style) var(--animation-time);
}

.menu-wrap .menu {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 100vh;
    height: 100vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: black;
    font-size: 4.5vh;
    padding: 2rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color var(--animation-time) var(--animation-style);
}

.menu-wrap .menu > div > div > ul > li > a:hover {
    text-decoration: underline;
}
/* Menu Code end */

.padded-content {
  padding: 30px;
  padding-bottom: 0px;
}

.padded-content-last {
  padding: 30px;
}

/* Tablet and Desktop View */
@media only screen and (min-width: 600px) {
  /* Start home page styling */
  #home {
    grid-template-columns: 1fr 1fr;
  }

  #home > img, #home> h1 {
    grid-column: auto;
  }

  #home > img {
    margin-right: 50px;
  }
  /* End home page styling */
}

/* Desktop styling */
@media screen and (min-width: 850px) {
  /* Hamburger menu resets */
  .menu-wrap .burger, 
  .menu-wrap .toggler {
    display: none;
  }

  .menu-wrap .menu {
    visibility: visible;
    left: 0;
    width: 290px;
    margin-top: 65px;
    height: calc(100% - 65px);
  }

  .menu-wrap .menu > div {
    background-color: var(--bgcolor);
  }

  #content-wrap {
    margin-left: 290px;
  }
}