* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow: auto;
  background-color: var(--background-color);
}

:root {
  --background-color: black;

  --glow-color: rgba(255, 255, 255, 2%);
  --simple-glow:
    0px 0px .25rem .25rem var(--glow-color),
    0px 0px .5rem .5rem var(--glow-color),
    0px 0px .75rem .75rem var(--glow-color);
  --standard-rounding: 20px;
}