.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.centeredString {
  color: white;
}

.logoWrapper {
  border-radius: var(--standard-rounding);
  display: block;
  margin: auto;
  box-shadow: var(--simple-glow);
}

.logo {
  border-radius: var(--standard-rounding);
  display: block;
  margin: auto;
}