/* Desktop Style */
.toggler {
    display: none;
}
nav {
    background-color: black;
}

/* Large Tablets Style */
@media screen and (max-width: 991px){
    .toggler {
        display: none;
    }
    nav {
        background-color: aqua;
    }
}

/* Mobile and Medium Tablet Style */
@media screen and (max-width: 800px){
    nav {
        background-color: transparent;
    }
    
    .menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .menu-wrap .toggler {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        height: 50px;
        width: 50px;
        opacity: 0;
    }

    .menu-wrap .burger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1vh;
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hamburger Lines */
    .menu-wrap .burger > div {
        position: relative;
        width: 60%;
        height: 3px;
        background-color: whitesmoke;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
    }

    /* Top and bottom lines */
    .menu-wrap .burger > div:before, 
    .menu-wrap .burger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: inherit;
        background: inherit;
    }

    /* Moves down bottom line */
    .menu-wrap .burger > div:after {
        top: 10px;
    }

    /* Toggler animation */
    .menu-wrap .toggler:checked + .burger > div {
        transform: rotate(135deg);
    }

    /* Turns lines into X */
    .menu-wrap .toggler:checked + .burger > div:before,
    .menu-wrap .toggler:checked + .burger > div:after {
        top:0;
        transform: rotate(90deg);
    }

    /* Rotate on hover */
    .menu-wrap .toggler:checked:hover + .burger > div {
        transform: rotate(225deg);
    }
}