/* Main style sheet */
:root{
    --primary-color: 3, 4, 94;
    --overlay-color:  rgba(245, 250, 255, 0.95);
    --header-color: 33, 158, 188;
    --highlight-color: rgba(255, 255, 255, .90);
    --menu-speed: .75s;
    --animation-time: .3s;
    --animation-style: ease;

    scroll-behavior: smooth;
}

/* Start of boilerplate code */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'Vollkorn', serif;
}
/* End of boilerplate */

/* Start Footer Section */
body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10vh;
    text-shadow: 1px 1px 1px black;
    display: grid;
}

footer a {
    font-size: 4vh;
    color: gainsboro;
    border-radius: 10%;
    transition:all .2s ease-out; 
    box-shadow: inset -1px -8px rgba(255, 255, 255, 0.4);
}

footer a:hover {
    color: rgb(190, 190, 190);
}

footer a:active {
    box-shadow: none;
}

footer p {
    padding-top: .5vh;
    display: flex;
    justify-content: space-around;
    color: gainsboro;
}

footer > div {
    display: flex;
    justify-content: space-around;
}
/* End Footer Section */

/* Start Main Section */
#bg-image-wrap {
    background-image: url('/images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 140vh;
}
/* End Main Section */

/* Start Menu Section */
/* Desktop Style */
header {
    background-color: rgb(var(--header-color));
    height: 100vh;
}

.toggler {
    display: none;
}

/* Logo Styling Code Start */
.logo-text {
    color: rgb(var(--primary-color));
    letter-spacing: 2px;
    font-size: 20px;
    min-width: 190px;
    text-align: center;
}
#weekly-visits, #total-visits {
    color: rgba(var(--primary-color), .8);
    font-size: 12px;
    text-align: center;
}
.logo {
    display: block;
    margin: auto;
}
.logo-wrap {
    padding-top: 35vh;
    position: relative;
    height: 100%;
}
/* Logo Styling Code End */

/* Removing nav link styling */
.nav-links {
    z-index: 2;
    position: fixed;
    right: 5vw;
    top: 1vh;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
    display: flex;
    padding-bottom: .2vw;
    background-color: var(--highlight-color);
    border-radius: 7px;
    box-shadow: 5px 8px rgba(var(--primary-color), 0.200);
}

.nav-links a {
    color: rgb(var(--primary-color));
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    margin: 2vh;
    text-decoration: none;
    position: relative;
}

.nav-links a:hover {
    text-decoration: underline;
}
/* Nav Link Animation Start */
/* .nav-links a {

} */
/* Nav Link Animation End */
/* End Menu Section */

/* Start Project Section */
#projects > h1 {
    padding: 2vh;
    padding-top: 5vh;
    font-size: xxx-large;
    text-align: center;
    letter-spacing: .3rem;
    text-shadow: 2px 2px 2px var(--highlight-color);
    color: rgb(var(--primary-color));
}

#project-wrap {
    display: grid;
    row-gap: 1.5rem;
    padding-bottom: 12vh;
}

.project {
    margin: auto;
    padding-left: 1rem;
    padding-top: .05rem;
    display: grid;
    background-color: rgba(var(--header-color), 0.85);
    color: rgba(var(--primary-color), .7);
    background-image: url('/images/GitHub-Mark-Light-120px-plus.png');
    background-position: right -15px bottom -20px;
    background-repeat: no-repeat;
    box-shadow: 1px 2px 10px rgb(var(--primary-color));
    width: 75vw;
    grid-template-columns: 2fr 2fr 1fr;
    padding-bottom: 0px;
}

.project > h2 {
    display: grid;
    width: minmax(40px, auto);
    margin-right: 5vw;
    text-align: left;
    padding-left: .75rem;
    padding-bottom: .25rem;
}

.subtitle {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    grid-column: 1/4;
}

.caption {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-column: 1/3;
}

.repo-stats {
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr 1fr;
}

.repo-stats > a {
    text-decoration: none;
    color: rgb(var(--primary-color));
}

.repo-stats > a > :hover {
    transform: rotate(5deg);
    color: rgba(var(--primary-color), .50);
}

.project > h2 {
    font-size: xx-large;
}

/* Removing link styling from project links */
.project > h2 > a {
    text-decoration: none;
    color: rgb(var(--primary-color));
    margin-left: 1.5rem;
    margin-top: .25rem;
}

/* Styling for hover text on project Repo link */
.project > h2 > a:hover {
    color: rgba(var(--primary-color), .5);
}

.project > h2 > a:active {
    color: rgba(var(--primary-color), .2);
}

.project > h2 > a:hover:before {
    content: "\1F517";
    position: absolute;
    transform: translate(-50px, -3px);
    vertical-align: middle;
}
/* End Project Section */
/* Styling for Color Theme Picker */
#color-theme {
    /* Only displays if JavaScript executes, otherwise is hidden */
    display: none;
    position: absolute;
    bottom: 40px;
    right: 30px;
}

#color-theme > p {
    /* color: var(--highlight-color); */
    color: gainsboro;
    text-shadow: 1px 1px 1px rgb(3, 4, 94);
    margin-bottom: 2vh;
    text-align: center;
}

#color-theme > input[type="radio"] {
    position: absolute;
    opacity: 0;
}

#color-theme > label {
    border-radius: 50%;
    padding: 8px 20px;
    border: 3px solid gainsboro;
    cursor: pointer;
}

.theme + label:hover {
    border-style: dotted !important;
}

#theme-light + label {
    background-color: rgba(144, 225, 239, 0.726);
}

#theme-dark + label {
    background-color: rgba(3, 4, 94, .5);
}

#theme-light:checked + label {
    background-color: rgba(144, 224, 239, 0);
    border-style: dashed !important;
}

#theme-dark:checked + label {
    background-color: rgb(3, 4, 94);
    border-style: dashed !important;
}

/* Add right margin to all children other than the last one */
#color-theme > label:not(:last-child){
    margin-right: 1vw;
}
/* End Styling for Project Picker */

/* Start styling for animations */
@keyframes rotation {
    /* Make 360 degree rotation */
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
/* End styling for animations */

/* Media Queries */
@media screen and (max-width: 500px){
    #bg-image-wrap {
        background-image: url('/images/bg_mobile.jpg');
    }

    .project {
        background-position: right -25px bottom -20px;
    }
}

/* Tablet Style */
@media screen and (max-width: 800px){
    .nav-links {
        display: inline;
        position: relative;
        right: auto;
    }
    
    /* Menu Code Start */
    .menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .menu-wrap .toggler {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        height: 50px;
        width: 50px;
        opacity: 0;
    }

    .menu-wrap .burger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1vh;
        background-color: rgb(var(--primary-color));
        box-shadow: 3px 3px 5px rgb(44, 44, 44);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hamburger Lines */
    .menu-wrap .burger > div {
        position: relative;
        width: 60%;
        height: 3px;
        background-color: var(--highlight-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all var(--animation-time) var(--animation-style);
    }

    /* Top and bottom lines */
    .menu-wrap .burger > div:before, 
    .menu-wrap .burger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: inherit;
        background: inherit;
    }

    /* Moves down bottom line */
    .menu-wrap .burger > div:after {
        top: 10px;
    }

    /* Toggler animation */
    .menu-wrap .toggler:checked + .burger > div {
        transform: rotate(135deg);
    }

    /* Turns lines into X */
    .menu-wrap .toggler:checked + .burger > div:before,
    .menu-wrap .toggler:checked + .burger > div:after {
        top:0;
        transform: rotate(90deg);
    }

    /* Rotate on hover */
    .menu-wrap .toggler:checked:hover + .burger > div {
        transform: rotate(225deg);
    }

    /* Show Menu */
    .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }
    
    .menu-wrap .toggler:checked ~ .menu > div > div {
        opacity: 1;
        transition:  opacity var(--animation-time) var(--animation-style) var(--animation-time);
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 50%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu > div {
        background: var(--overlay-color);
        border-radius: 50%;
        width: 200vh;
        height: 200vh;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
    }
    
    .menu-wrap .menu > div > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
    }
    
    /* Menu bar list styling */
    .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color: rgb(var(--primary-color));
        font-size: 1.5rem;
        padding: 2rem;
    }
    
    /* Menu bar links */
    .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color var(--animation-time) var(--animation-style);
    }

    /* Menu bar links */
    .menu-wrap .menu > div > div > ul > li > a:hover {
        text-decoration: underline;
    }
    /* Menu Code end */
    
    #bg-image-wrap {
        background-image: url('/images/bg_tablet.jpg');
    }

    /* .project {
        background-position: right -200px bottom -20px;
    } */
}